# Python
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Environments
.venv/
venv/
.env

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Celery beat runtime files
celerybeat-schedule
celerybeat-schedule-shm
celerybeat-schedule-wal
